<!DOCTYPE html>
<html>

<head>
    <title>Home Task 5</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome to the main page of HT 5</h1>
    <h2>
        <%= avatarname %>
    </h2>
    <img src="<%= image %>" alt="avatar" name="avatar">
</body>

</html>